<a href="https://colab.research.google.com/github/evsanekaplan/Proje_1/blob/main/project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
student_list = [ ("Antanina" ,"Juárez" ,171, 82),
                      ("Gigi", "Antonov", 518, 65),
                      ("Merari", "Gaspar", 314, 15),
                       ("Felicia", "Bristol", 987, 48),
                       ("Odin", "Anker", 288, 57),
                       ("Monica", "O'Leary", 629, 89),
                       ("Trefor", "Brandon" ,295, 46),
                       ("Sergio", "Lyons" ,780, 29),
                       ("Emilee", "Anderson" ,353, 83),
                       ("Aziz", "Avcı" ,849, 95),
                       ("Dimitris", "Georgiou" ,581, 100),
                       ("Marius", "Lambert", 476, 42),
                       ("Sybille", "Lucas", 774, 73),
                       ("Paul", "Julien", 683, 85),
                       ("Aygül", "Ekmekçi" , 242, 20)]

In [33]:
def compute_grade(points):
  if points>= 90:
    return "A"
  elif points>=75:
    return "B"
  elif points>=55:
    return "C"
  elif points>=35:
    return "D"
  else:
    return "F"

In [70]:
grades_file = open("grades.txt","w")

for student_name,student_surname, student_no, points in student_list:
    grade = compute_grade(points)
    if grade == "A":
      pass_fail = "Pass"
    elif grade == "B":
       pass_fail = "Pass"
    elif grade == "C":
      pass_fail = "Pass"
    else:
      pass_fail = "Fail"
    grades_file.write(str(student_no) +"-" + student_name +" " + student_surname+"-" + pass_fail +  "\n")

In [71]:
grades_file.close()

In [72]:
import pandas as pd

data = pd.read_csv('grades.txt', sep= "-", header=None)

data.columns = ["Student Number" ,"Student Name" , "Status"]

print(data)

    Student Number       Student Name Status
0              171    Antanina Juárez   Pass
1              518       Gigi Antonov   Pass
2              314      Merari Gaspar   Fail
3              987    Felicia Bristol   Fail
4              288         Odin Anker   Pass
5              629     Monica O'Leary   Pass
6              295     Trefor Brandon   Fail
7              780       Sergio Lyons   Fail
8              353    Emilee Anderson   Pass
9              849          Aziz Avcı   Pass
10             581  Dimitris Georgiou   Pass
11             476     Marius Lambert   Fail
12             774      Sybille Lucas   Pass
13             683        Paul Julien   Pass
14             242      Aygül Ekmekçi   Fail

In [73]:
file_name = 'GradesData.xlsx'
data.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.